.Board {
  background: {
    image: url('/img/xv.png');
  }
  border: {
    radius: var(--board-radius);
  }
  box-shadow: #333 2px 2px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: var(--board-size);
  margin: 0 auto;
  padding: var(--tile-gap);
  position: relative;
  width: var(--board-size);

  &:not(.done) {
    grid-gap: var(--tile-gap);

    .tile {
      border: {
        radius: var(--tile-border-radius);
        style: solid;
      }
      box-shadow: #000 2px 2px 2px;
      cursor: pointer;

      &:hover {
        box-shadow: #000 8px 8px 10px;
        left: -4px;
        top: -4px;
      }

      @for $i from 0 through 14 {
        &.tile#{$i + 1} {
          &:after {
            content: "#{$i + 1}";
          }
        }
      }
    }
  }

  .tile {
    border: {
      color: var(--tile-border-color);
      width: 1px;
    }
    overflow: hidden;
    position: relative;

    &:before {
      content: ' ';
      height: var(--board-size);
      position: absolute;
      width: var(--board-size);
    }
    &:after {
      color: var(--tile-number-color);
      font: {
        size: 1.2rem;
      }
      left: calc(var(--board-size) / 50);
      position: absolute;
      text-shadow: black 2px 2px 2px;
      top: calc(var(--board-size) / 50);
    }

    @for $i from 0 through 15 {
      &.tile#{$i + 1} {
        &:before {
          left: ($i % 4 * 100% * -1);
          top: (floor($i / 4) * 100% * -1);
        }

        @if ($i % 4 == 0) {
          border-left: {
            color: var(--tile-border-color);
            style: solid;
          }
        }

        @if ($i % 4 == 3) {
          border-right: {
            color: var(--tile-border-color);
            style: solid;
          }
        }

        @if (floor($i / 4) == 0) {
          border-top: {
            color: var(--tile-border-color);
            style: solid;
          }
        }

        @if (floor($i / 4) == 3) {
          border-bottom: {
            color: var(--tile-border-color);
            style: solid;
          }
        }

      }
    }

    &.tile1 {
      border-top-left-radius: var(--tile-border-radius);
    }
    &.tile4 {
      border-top-right-radius: var(--tile-border-radius);
    }
    &.tile13 {
      border-bottom-left-radius: var(--tile-border-radius);
    }
    &.tile16 {
      border-bottom-right-radius: var(--tile-border-radius);
    }
  }

  @for $i from 0 through 15 {
    &[data-level="#{$i}"] {
      .tile:before {
        background: {
          @if ($i < 10) {
            image: url('/img/puzzles/00#{$i}.png');
          }
          @else if($i < 100) {
            image: url('/img/puzzles/0#{$i}.png');
          }
          @else if($i < 1000) {
            image: url('/img/puzzles/#{$i}.png');
          }
        }
      }
    }
  }

  .info {
    background: {
      color: rgba(0, 0, 0, 0.9);
    }
    border: {
      bottom: {
        left-radius: var(--tile-border-radius);
        right-radius: var(--tile-border-radius);
      };
      color: var(--tile-border-color);
      style: solid;
      top: 0;
      width: 1px;
    }
    bottom: var(--tile-gap);
    color: var(--tile-number-color);
    left: var(--tile-gap);
    padding: var(--tile-gap);
    position: absolute;
    right: var(--tile-gap);
  }
}