.ControlPanel {
  align-items: center;
  background: {
    image: url('/img/xv.png');
  }
  border: {
    radius: var(--board-radius);
  }
  box-shadow: #333 2px 2px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(4, min-content);
  margin: 0.5rem auto;
  padding: calc(var(--tile-gap) / 2) var(--tile-gap);
  user-select: none;
  width: var(--board-size);

  & > div:not(:nth-child(1)):not(:nth-child(2)) {
    cursor: pointer;
    min-width: 1.5rem;
    text-align: center;

    &:hover {
      text-shadow: black 1px 1px 2px;
    }
  }
}